/* ===============================
CSS Variables
================================== */

:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-darkgrey: hsl(0, 0%, 14%);
  --clr-grey: hsl(0, 0%, 85%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-green: hsl(153, 71%, 59%);
 
  --ff-SpaceGrotesk: 'Space Grotesk', Arial, Helvetica, sans-serif;
}


/* ===============================
General / Font Styles
================================== */

body {
  background-color: var(--clr-black);
  font-family: var(--ff-SpaceGrotesk);
  font-weight: 500;
}

h1,h2,h3,a,button,p.skill__name,p.name {
  color: var(--clr-white);
  font-weight: 700;
}

p {
  color: var(--clr-grey);
}

a {
  text-decoration: none;
  display: inline-block;
}

main {
  /* Prevent pseudo-elements from causing horizontal scroll */
  overflow-x: hidden;
}

@media (min-width: 48em) {
  p {
    font-size: 1.125rem;
  }
}


/* ===============================
Utility Classes
================================== */

.heading-xl {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.078rem;
}

.heading-l {
  font-size: 2rem;  
  line-height: 1;
  letter-spacing: -0.063rem;
}

.heading-m {
  font-size: 1.5rem;
  line-height: 1;
}

.container {
  max-width: 100%;
  padding: 0 1.125rem;
  position: relative;
}


@media (min-width: 48em) {
  .container {
    padding: 0 1.875rem;
    /* 1110px for desktop + 60px of padding */
    max-width: 1170px;
    margin: 0 auto;
  } 
  .heading-xl {
    font-size: 4.5rem;
    letter-spacing: -0.125rem;
  }
  .heading-l {
    font-size: 3rem;
  }
}

@media (min-width: 73.125em) {
  .heading-xl {
    font-size: 5.5rem;
    letter-spacing: -0.156rem;
  }
}


/* ===============================
Anchor / Button Styles
================================== */

.primary-cta { 
  padding: 0.75rem 0;
  line-height: 1;
  letter-spacing: 0.141rem;
  border: none;
  border-bottom: 2px solid var(--clr-green);
  transition: color 200ms ease-in-out;
}

.primary-cta:hover,
.primary-cta:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: var(--clr-green);
}

.primary-cta, .project__skills__skill, .project__name {
  text-transform: uppercase;
}


/* ===============================
Header Styles
================================== */

header {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 10;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.25rem;
}

p.name {
  font-size: 1.5rem;
}

nav.socials ul {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

nav.socials li path {
  transition: fill 150ms ease-in-out;
}
nav.socials li a:hover path,
nav.socials li a:focus path {
  fill: var(--clr-green);
}

@media (min-width: 48em) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }
  p.name {
    font-size: 2rem;
  }
}
@media (min-width: 73.125em) {
  .socials {
    padding-right: 1.75rem;
  }
}


/* ===============================
Hero Section Styles
================================== */

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.75rem;
}

.hero__content {
  order: 1;
  text-align: center;
  max-width: 450px;
}

.hero__img {
  order: 0;
  width: 174px;
  margin-bottom: 2.75rem;
}

h1.heading-xl span {
  position: relative;
  display: inline-block;
}
h1.heading-xl span::before {
  content: "";
  position: absolute;
  background-color: var(--clr-green);
  height: 4px;
  width: 100%;
  bottom: -6px;
}

.hero__content__heading {
  margin-bottom: 2rem;
}

.hero__content__about {
  line-height: 1.65;
  margin-bottom: 0.875rem;
}

.hero .container::after,
.skills .container::after,
footer .container::before {
  content: "";
  position: absolute;
  background-color: var(--clr-white);
  height: 1px;
  width: calc(100% - 2.25rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.hero .container::after,
.skills .container::after {
  bottom: 0;  
}

.hero {
  background-color: var(--clr-black);
  background-image: url('../images/pattern-rings.svg');
  background-repeat: no-repeat;
  background-size: auto 8rem;
  background-position: left -21.875rem top 8.5rem;
}

.hero__img::after {
  content: "";
  position: absolute;
  height: 8rem;
  width: 8rem;
  background-color: transparent;
  background-image: url('../images/pattern-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  right: -4rem;
  top: 16rem; 
}

@media (min-width: 48em) {
  .hero .container {
    flex-direction: row;
    overflow-x: hidden;
    padding-bottom: 3.75rem;
  }  
  .hero__content {
    order: 0;
    text-align: left;
    padding-top: 7.375rem;
    z-index: 2;
    max-width: 100%;
  }
  .hero__img {
    order: 1;
    max-width: 322px;
    margin-bottom: 0;
    transform: translateX(2rem);
    margin-left: -3rem;
    position: relative;
  }
  .hero__content,
  .hero__img {
    flex-basis: 100%;
  }
  .hero__content__heading {
    margin-bottom: 4.25rem;
    max-width: 600px;
  }
  .hero__content__about {
    margin-bottom: 1.875rem;
    max-width: 500px;
  }
  .hero .container::after,
  .skills .container::after,
  footer .container::before {
    width: calc(100% - 3.75rem);
  }
  .hero {
    background-position: left -16.875rem top 5.5rem;
  }
  .hero__img::after {
    bottom: 0; 
    top: auto; 
  }
}

@media (min-width: 73.125em) {
  .hero .container {
    padding-bottom: 6.25rem;
  }
  .hero__img {
    max-width: 445px;
    transform: none;
  } 
  .hero__content__heading {
    margin-bottom: 2.625rem;
    max-width: 100%;
  }
  .hero__content__about {
    width: 420px;  
    margin-bottom: 3.25rem;
    max-width: 100%;
  }
  .hero {
    background-position: left -5.875rem top 9.5rem;
  }
  .hero__img::after {
    bottom: 3.75rem; 
    right: auto;
    left: -4rem;
  }
}


/* ===============================
Skills Section Styles
================================== */

.skills .container {
  display: grid;
  gap: 2rem;
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
}

.skill {
  text-align: center;
}

.skill__name {
  margin-bottom: 0.5rem;
}

@media (min-width: 48em) {
  .skills .container {
    grid-template-columns: 1fr 1fr;
    padding-top: 3.125rem;
    /* Removed padding-top of projects section since line is gone */
    padding-bottom: 6.5rem;
    gap: 3.875rem 1.5rem; 
  }
  .skill {
    text-align: left;
  }
  .skill__name {
    margin-bottom: 0.75rem;
  }
  .skills .container::after {
    display: none;
  }
}

@media (min-width: 73.125em) {
  .skills .container {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4.5rem;
    padding-bottom: 8.75rem;
  }
}


/* ===============================
Projects Section Styles
================================== */

.projects .container {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.25rem;
}

.projects__header .primary-cta {
  padding-top: 0;
  margin-top: 0.375rem;
}

.project-wrapper {
  display: grid;
  gap: 2.875rem;
}

.project {
  margin: 0 auto;
}

.project__img {
  margin-bottom: 1.5rem;
}

.project__name {
  margin-bottom: 0.875rem;
}

.project__skills {
  display: flex;
  gap: 1.125rem;
  margin-bottom: 0.625rem;
}

.project__skills__skill {
  font-size: 1.125rem;
}

.project__links {
  display: flex;
  gap: 2rem;
}

.projects {
  position: relative;
}
.projects::before {
  content: "";
  position: absolute;
  height: 8rem;
  width: 33.125rem;
  background-color: transparent;
  background-image: url('../images/pattern-rings.svg');
  background-repeat: no-repeat;
  background-size: auto 8rem;
  right: -21.875rem;
  top: -4rem;
}

@media (min-width: 48em) {
  .projects .container {
    padding-top: 0;
    padding-bottom: 5.875rem;
  }
  .projects__header {
    margin-bottom: 3.75rem;
  }
  .project-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem 1.5rem;
  }
  .project__skills {
    margin-bottom: 1rem;
  }
  .project {
    margin: 0;
  }
  .projects::before {
    top: -10rem;
  }
}

@media (min-width: 73.125em) {
  .project__img {
    margin-bottom: 0;
  }

  /* Utilize grid to overlap .project__img and .project__links */
  .project {
    display: grid;
  }
  .project__name {
    margin-top: 1.5rem;
  }
  .project__links,
  .project__img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .project__links {
    z-index: 10;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    opacity: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    transition: opacity 150ms ease-in-out;
  }
  .project__links:hover {
    opacity: 1;
  }
  .projects::before {
    top: -13rem;
    right: -14rem;
  }
}


/* ===============================
Contact Section Styles
================================== */

.contact {
  background-color: var(--clr-darkgrey);
}

.contact .container {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
  text-align: center;
}

.contact__info__header {
  margin-bottom: 1.125rem;
}

.contact__info__blurb {
  line-height: 1.65;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  width: 100%;
}

form input:not(input[type="submit"]),
form textarea {
  border: none;
  border-bottom: 1px solid var(--clr-white);
  color: var(--clr-white);
  background-color: transparent;
  line-height: 1.65;
  padding: 0.875rem 1.5rem;
  margin-bottom: 0.75rem;
}

form input:not(input[type="submit"])::placeholder,
form textarea::placeholder {
  color: var(--clr-white);
  opacity: 0.5;
}

input[type="submit"] {
  padding: 0.875rem 0;
  width: auto;
  line-height: 1;
  letter-spacing: 0.141rem;
  border: none;
  border-bottom: 2px solid var(--clr-green);
  text-transform: uppercase;
  color: var(--clr-white);
  background-color: transparent;
  margin-top: 0.5rem;
  align-self: end;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

form input:not(input[type="submit"]):focus-visible,
form textarea:focus-visible {
  outline: 0;
  border-color: var(--clr-green);
}


.input-wrapper.success input,
.input-wrapper.success textarea {
  border-color: blue;
}

.input-wrapper.error input,
.input-wrapper.error textarea {
  border-color: red;
}

.input-wrapper .error__text {
  color: red;
}


@media (min-width: 48em) {
  .contact .container {
    padding-top: 3.875rem;
    padding-bottom: 5.625rem;
    max-width: 500px;
  } 
}

@media (min-width: 73.125em) {
  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1170px;
    gap: 22%;
  }
  .contact__info {
    text-align: left;
  }
  .contact__form {
    text-align: right;
  }
  .contact__info__blurb {
    margin-bottom: 0;
  }
  .contact__info__header {
    margin-bottom: 2.125rem;
  }
}


/* ===============================
Footer Section Styles
================================== */

footer {
  background-color: var(--clr-darkgrey);
}

footer .container {
  padding-top: 2.75rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer .container::before {
  top: 0;
}

@media (min-width: 48em) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 73.125em) {
  footer .container {
    padding-top: 2.75rem;
    padding-bottom: 4rem;
  }
}